<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BigDataNet.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=IBM-08;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=praktyka"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <!--<appSettings>
    <add key="sqlconnectionstring" value="Data Source=IBM-08;Initial Catalog=Northwind;Persist Security Info=True;"/>
  </appSettings>-->
</configuration>